@charset "UTF-8";
.fa-color-gray{
	color:#8d8d8d;
}
.fa-color-chatGreen{
	color:#2db400;
}

@font-face {
	font-family: 'NanumGothicCoding';
	font-style: noraml;
	font-weight: 400;
	src: local(''),
		url('../fonts/NanumGothicCoding/NanumGothicCoding-Regular.ttf'),
		url('../fonts/NanumGothicCoding/NanumGothicCoding-Bold.ttf');
	unicode-range:U+AC00-D7A3;
}

* {
	font-family:'NanumGothicCoding', "Manrope", sans-serif;
}
.mifa {
	width:30px !important;
}

/* login.jsp - start */
.fsu-lg{
  font-size: 2rem !important;
}
.fsu-m{
  font-size: 1.35rem !important;
}
.fsu-sm{
  font-size: 1rem !important;
}
.fsu-xsm{
	font-size: .75rem !important;
}
.main-panel {
  width: 100% !important;
}
.align-text-center{
  text-align: center;
}
.btn-submit-fitX{
  width: 100%;
  color: white !important;
  background-color: #cccccc !important;
}
.find-id-pwd{
  font-size: 0.9rem;
  color: #5f6368;
  text-align: right;
  display: block;
  cursor: pointer;
  margin-bottom: 7px;
}
.loginpage-logo-img{
  width: 90%;
  height: auto;
}
.logo-img-div{
  padding: 20px 35px;
}
.logo-txt-div{
  margin-top: -50px;
  padding: 15px 35px;
}
.emp-description{
  text-align: center;
  color: #5f6368;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: #cccccc45;
  border-radius: 10px;
}
/* login.jsp - end */

/* chat start */

.menu-chat-sidebar{
	-webkit-font-smoothing: antialiased;
    margin-left: auto;
    margin-right: 0;
    color: #bfccda;
}
.menu-chat-sidebar::before{
	content: "";
    font-family: "Material Design Icons";
    font-style: normal;
    display: block;
    font-size: 0.687rem;
    line-height: 10px;
}
.load-immediate-icon{
	font-size: 0.65rem;
	text-align:top;
}
.chat-pages-txt-logo{
    height: 30px;
}
.fg-1{
    flex-grow: 1;
}
.bg-chat-green{
    background-color: #2db400;
}
.show-in-oneline{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.hover-style-pointer{
    cursor: pointer;
}
/* chat end */


