<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 마이바티스의  환경설정파일 -->
<configuration>
	<!-- 클래스 별칭 설정 :매퍼파일에서 별칭으로 사용하고자 할때(properties태그가 typeAliases태그보다 위에 위치) -->
	<typeAliases>
		<typeAlias type="com.nodearchive.springapp." alias=""/>
	</typeAliases>
	
	<!-- 매퍼파일(SQL쿼리 결과와 자바빈 매핑)의 위치정보 설정 -->
	<mappers>
		<mapper resource="mappers/ .xml"/>
	</mappers>
</configuration>