.fa-exclamation-circle {
  color: tomato;
  padding-left: 5px;
}

.find-icons {
  padding: 30px;
}

.find-icons {
  display: flex;
  justify-content: space-between;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons__icon i {
  font-size: 35px;
}

.find-icons__icon span {
  margin-top: 18px;
}

.more-suggestions {
  margin: 30px 10px;
  border-top: var(--main-border);
  padding-top: 40px;
}

.more-suggestions__title {
  margin-bottom: 30px;
  font-weight: 600;
}

.more-suggestions__icons {
  display: flex;
  margin-top: 40px;
}

.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon-image img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
