.main-screen {
  padding: 0px 20px;
  padding-top: 100px;
}

.settings__setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting-2 {
  padding: 20px 0;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  margin-right: 13px;
  font-size: 22px;
}

.settings__border-line {
  border: var(--main-border);
  margin: 20px 0px;
}
