@import "reset.css";
@import "variables.css";

/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/alt-screen-header.css";

/* screens */
@import "screens/login.css";
@import "screens/mycrew.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

main {
  height: 200vh;
  padding-top: 100px;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}
